<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Compiled Tailwind CSS -->
    <link rel="stylesheet" href="/stylesheet/style.css">

    <style>
        body {
            background-color: black;
            color: white;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-style:white;
        }
    </style>
</head>

<body>
<h1> file name</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, debitis impedit? Deserunt illum ullam possimus, cumque explicabo in magni, nisi animi corporis rem sint nulla sapiente, nostrum dicta officia. Minus.
 laborum aut sunt saepe numquam? Quod, itaque corporis quam aut nihil quaerat qui plac</p>
</body>

</html>